
<h1><%= @board.title %></h1>

<ol class="posts">
  <%= render @posts %>
</ol>

<% if @board.activated%>
  <%= form_with(model: @post) do |f| %>
    <%= f.hidden_field :board_id, value: @board.id %>
    
    <div class="field">
      <%= f.text_area :content %>
    </div>

    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'edit', edit_board_path(@board), class: 'link' %>
<% else %>
  <ol class="posts">
  <% @posts.each do |post| %>
  <li id="post-<%= post.id %>">
    <div class="inner">
      <div class="content"><%= post.content %></div>
      <div class="comment"><%= post.comment %></div>
    </div>
  </li>
  <% end %>
  </ol>
<% end %>